.add-to-cart-button{
    background-color: orange;
    border: none;
    padding-left: 25px; 
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.add-to-cart-button:hover{
    transform: scale(1.1);
    transition: 200ms;
}