.item-carrito{
    display: flex;
    flex-direction: row;
}

.item-carrito-imagen img{
    width: 80%;
}

.item-carrito{
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    height: 150px;
}

.delete-icon{
    color: red;
    cursor: pointer;
}

.delete-icon:hover{
    transform: scale(1.1);    
}

.resumen-pedido-carrito{
    background-color: #F5F5F7;
    padding: 20px;
    border-radius: 10px;
    height: 400px;
    margin-left: 0px;
}

.listado-items-carrito h2{
    font-weight: 400;
}

.resumen-pedido-carrito h2{
    font-weight: 400;
}

.total-carrito{
    font-size: 1.5vw;
    font-weight: 300;
}

.div-button_to-check-out{
    margin-top: 10px;
}

.div-button_to-check-out button{
    background-color: orange;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
    font-size: 1.2vw;
}

.div-button_to-check-out button:hover{
    transform: scale(1.05);
    transition: 0.1s;
}

.div-empty-cart{
    margin-top: 10px;
}

.div-empty-cart span:hover{
    transform: scale(1.05);
    transition: 0.1s;
    text-decoration: underline;
    cursor: pointer;
}

.empty-cart-text{
    font-size: 1.5vw;
}

.see-products-button-div{
    text-decoration: none;
}

@media (max-width: 700px) {
    .empty-cart-text{
        font-size: 5vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center
    }
    .empty-cart-image{
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .see-products-button-div{
        text-decoration: none;
    }
    .see-products-button-div button{
        font-size: 5vw;
    }
}

@media (max-width: 750px) {
    .resumen-pedido-carrito{
        margin-top: 30px;
        height: 200px;
    }
    .total-carrito{
        font-size: 5vw;
    }
    .div-button_to-check-out button{
        font-size: 4vw;
    }
}

