.product-card{
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
    padding: 20px;
    
}

.product-card:hover{
    transform: scale(1.05);
    transition: 200ms;
}

.product-image{
    height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 575px){
    .product-image{
        height: 300px;
    }
}

.product-image img{
    width: 80%;
    height: auto;
}

.product-title{
    height: 80px;
    padding-bottom: 5px;
}

.product-title span{
    font-size: 1.2vw;
    font-weight: 400;
    color: black;
    max-width: 13ch;
}

.product-price{
    font-size: 1.2vw;
    font-weight: 600;
    color: black;
    padding: 5px;
    background-color: rgb(255, 208, 54);
    display: block;
    width: 100%;
}

.product-licence span{
    font-size: 1vw;
    color:black;
}

@media only screen and (max-width: 1200px) and (min-width: 576px){
    .product-title span{
        font-size: 2.5vw;
    }

    .product-price span{
        font-size: 2.5vw;
    }

    .product-licence span{
        font-size: 1.8vw;
    }

}

@media (max-width: 575px){
    .product-title span{
        font-size: 6vw;
    }

    .product-price{
        font-size: 6vw;
    }

    .product-licence span{
        font-size: 4vw;
    }

}