body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.all-centered{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cursor-pointer{
  cursor: pointer;
}

.main-button{
  width: 50%;
  background-color: orange;
  padding: 5px;
  border-radius: 10px;
  border: none;
  color: black;
  font-size: 1vw;
}